.about {
  width: 100%;
  height: 100vh;
  padding-top: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-items: center;
  margin: 120px auto;
}
.about .content {
  background-color: rgb(31, 31, 31);
  border: 10px;
  border-radius: 20px;
  opacity: 0.8;
  width: 80%;
  margin: auto;
  text-align: center;
  color: aliceblue;
}
.about .content:hover {
  color: azure;
  opacity: 1;
  border-color: rgb(1, 10, 34);
  box-shadow: 5px 5px 30px 15px rgba(12, 81, 170, 0.25),
    -5px -5px 30px 15px rgba(12, 81, 170, 0.25);
}
.about .content p {
  font-style: italic;
  font-weight: bolder;
  font-size: xx-large;
}
