.about {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../img/project.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-items: center;
}
.about .content {
  background-color: rgb(31, 31, 31);
  border: 10px;
  border-radius: 20px;
  opacity: 0.8;
  width: 50%;
  margin: auto;
  text-align: center;
  color: aliceblue;
}
.about .content:hover {
  color: azure;
  opacity: 1;
  border-color: rgb(4, 72, 150);
  box-shadow: 5px 5px 30px 15px rgba(227, 241, 245, 0.25),
    -5px -5px 30px 15px rgba(16, 130, 145, 0.25);
}
.about .content p {
  font-style: italic;
  font-weight: bolder;
  font-size: xx-large;
}
