.certificate {
  width: auto;
  padding: 3%;
  margin: 20% auto;
  border-radius: 40px;
  background-color: rgb(1, 10, 34);
  box-shadow: 5px 5px 10px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.certificate:hover {
  border-color: rgb(1, 10, 34);
  box-shadow: 5px 5px 30px 15px rgba(12, 81, 170, 0.25),
    -5px -5px 30px 15px rgba(12, 81, 170, 0.25);
}
