.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  margin: 120px auto;
}
.home .content {
  /* margin-left: 30%;
  margin-top: 15%; */
  text-align: center;
  color: aliceblue;
}
.home .content,
p {
  font-size: xx-large;
}
.home .social a {
  background-color: rgb(11, 146, 184);
}
.home .social {
  justify-content: center;
  display: flex;
  margin-left: 30%;
  font-size: xxx-large;
}
.home .content .social {
  font-size: xx-large;
}
.home .content .social,
a {
  text-decoration: none;
  color: aliceblue;
}
