.project {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.project .project_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
}
@media screen and(min-width:450px) and (max-width: 860px) {
  .project {
    width: auto;
  }
  .project .project_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
