.con {
  height: 100vh;
  padding-top: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
}
.pdf-container {
  margin: auto;
  width: 60%;
  height: 100vh;
  overflow-y: auto;
}
